/* Hide scrollbar for the infinite scroll container */
.infinite-scroll-container {
  overflow: hidden; /* Hides all scrollbars */
  overflow-y: auto; /* Allows vertical scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer */
  
}

.infinite-scroll-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */

}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E50000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E50000;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
